body{
	background-color:#018749;
	font-family:Castellar
	


	
}
nav a:hover{
	background-color:grey;
}




nav a{
	display:inline-block;
	width:175px;
	background-color:white ;
	color:black;
	border:2px solid black;
	text-align:center;
	
	
	
	
}